<div class="card text-bg-light mb-3">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <button class="btn btn-primary my-2" routerLink="/alumnos/form">Crear</button>
    <div class="alert alert-info" *ngIf="lista?.length == 0 else usuariosTable">
      No hay alumnos en el sistema
    </div>

    <ng-template #usuariosTable>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>Foto</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>email</th>
            <td>Fecha creacion</td>
            <td>editar</td>
            <td>eliminar</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let alumno of lista">
            <td>{{alumno.id}}</td>
            <td>
              <img *ngIf="alumno.fotoHashCode"
              [src]="baseEndPoint + '/upload/img/' + alumno.id + '?fotoHashCode=' + alumno.fotoHashCode"
              class="img-thumbnail rounded" style="width: 64px; cursor:pointer">

              <img *ngIf="!alumno.fotoHashCode"
              src="/assets/images/no-user.png"
              class="img-thumbnail rounded" style="width: 64px; cursor:pointer">
            </td>
            <td>{{ alumno.nombre }}</td>
            <td>{{ alumno.apellido}}</td>
            <td>{{ alumno.email }}</td>
            <td>{{ alumno.createAt | date:'yyyy-MM-dd' }}</td>
            <td><button class="btn btn-primary btn-sm" [routerLink]="['/alumnos/form/' , alumno.id]">Editar</button>
            </td>

            <td><button class="btn btn-danger btn-sm" (click)="eliminar(alumno)">Eliminar</button></td>

          </tr>
        </tbody>
      </table>
      <mat-paginator [length]="totalRegistros"
                     [pageSize]="totalPorPagina"
                     [pageIndex]="paginaActual"
                     [pageSizeOptions]="pageSizeOptions"
                     aria-label="Select page"
                     (page)="paginar($event)">
      </mat-paginator>
    </ng-template>
  </div>
</div>
